@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather";
}

a {
    text-decoration: none;
    color: black;
}

body{
    width: 100%;
}

footer {
    background-color: rgb(53, 89, 112);
    text-align: center;
    padding: 1em;
    color: white;
}

footer a {
    color: white;
    text-decoration: underline;
    font-family: "Nunito";
}

footer p {
    font-family: "Nunito";;
}

header {
    background-color: rgb(53, 89, 112);
}

header #logo {
    color: white;
    padding: .5em;
    font-size: 2.4em;
    font-weight: bold;
}


header #donate {
    color: rgb(210, 67, 115);
    font-size: 1.3em;
    margin: .5em;
    padding: .1em;
    float: right;
    border: 2px rgb(210, 67, 115) solid;
}

header #donate:hover {
    background-color: white;
}

hr, br {
    clear: left;
}

img{
    margin-bottom: -6px; /* idk why there is margin at the bottom */
}

li {
    display: inline;
    padding: 1em;
    font-weight: bold;
}

/* Classes*/

.main-div {
    max-width: 1300px;
    margin: auto;
    padding: 1em;
}

.myslides{
    display: none;
    opacity: 0;
}

.column1of2, .column2of2 {
    width: calc(50% - 2em);
    float: left;
    margin: 1em;
}
.column1of2 p {
    font-family: "Nunito";
}

.column2of2 img {
    width: 100%;
    height: 25em;
    object-fit: cover;
}

.column1of3, .column2of3, .column3of3 {
    width: calc(33.3333% - 2em - 2px);
    float: left;
    margin: 1em;
    border: solid rgb(176, 176, 176) 1px;
}

.column1of3 img, .column2of3 img, .column3of3 img{
    width: 100%;
    height: 20em;
    object-fit: cover;
}

.column1of3 #text, .column2of3 #text, .column3of3 #text{
    margin: 1em;
    margin-top: .5em;
}

.column1of3:hover, .column2of3:hover, .column3of3:hover {
    background-color: white;
}

/* IDs */

#content{
    background-color: rgb(236, 236, 236);
    padding: 2em;
    line-height: 2em;
}

#content h2 {
    padding-bottom: .5em;
}

#main-img-container {
    position: relative;
}

#main-img-container img {
    width: 100%;
    height: 40%;
    min-height: 25em;
    max-height: 40em;
    object-fit: cover;
}

#main-img-container-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-55%, -50%);
    width: 100%;
    max-width: 1300px;
    text-align: right;
}

#main-img-container-text > * {
    font-family: "Nunito";
    color: white;
    background-color: rgba(0, 0, 0, .6);
    font-size: min(calc(2em + 1vw), 3.1em);
}

#main-img-container-text > a {
    text-decoration: underline;
    font-size: min(calc(1em + 1vw), 1.6em);
}

#main-img-container-text > a:hover {
    color: black;
    background-color: rgba(255, 255, 255, 1);
}

#navbar {
    text-align: right;
    padding: .75em;
}

#navbar a {
    font-family: "Nunito";
}

#navbar a:hover {
    background-color: rgb(53, 89, 112);
    color: white;
}

#text p {
    font-family: "Nunito";
}

@media screen and (max-width: 960px) {
    .column1of3, .column2of3, .column3of3 {
        width: calc(50% - 2em - 2px);
    }
}

@media screen and (max-width: 650px) {
    #donate {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .column1of3, .column2of3, .column3of3 {
        width: calc(100% - 2em - 2px);
    }

    .column1of2, .column2of2 {
        width: calc(100% - 2em - 2px);
    }
    
    #navbar ul{
        display: none;
    }
}